.trsprtInr{
    border-radius: 7px 7px 7px 7px;
}

.btnCntnr{
	border-radius: 3px 3px 3px 3px;
}

.btnCntnrInr{
	border-radius: 3px 3px 3px 3px;
}

#bdCntntAAAAInrId{
	border-radius: 0px 0px 7px 7px;
}

#bdCntntAAAAId{
	border-radius: 0px 0px 7px 7px;
}

#body3THeaderAAAAId{
	border-radius: 7px 7px 0px 0px;
}

#body3THeaderAAAAInrId{
	border-radius: 7px 7px 0px 0px;
}


#bdCntntAAABInrId{
	border-radius: 0px 0px 7px 7px;
}

#bdCntntAAABId{
	border-radius: 0px 0px 7px 7px;
}

#body3THeaderAAABId{
	border-radius: 7px 7px 0px 0px;
}

#body3THeaderAAABInrId{
	border-radius: 7px 7px 0px 0px;
}



#bdCntntDAAAInrId{
	border-radius: 0px 0px 7px 7px;
}

#bdCntntDAAAId{
	border-radius: 0px 0px 7px 7px;
}

#body3THeaderDAAAId{
	border-radius: 7px 7px 0px 0px;
}

#body3THeaderDAAAInrId{
	border-radius: 7px 7px 0px 0px;
}


#bdCntntDAABInrId{
	border-radius: 0px 0px 7px 7px;
}

#bdCntntDAABId{
	border-radius: 0px 0px 7px 7px;
}

#body3THeaderDAABId{
	border-radius: 7px 7px 0px 0px;
}

#body3THeaderDAABInrId{
	border-radius: 7px 7px 0px 0px;
}


#bdCntntDAACInrId{
	border-radius: 0px 0px 7px 7px;
}

#bdCntntDAACId{
	border-radius: 0px 0px 7px 7px;
}

#body3THeaderDAACId{
	border-radius: 7px 7px 0px 0px;
}

#body3THeaderDAACInrId{
	border-radius: 7px 7px 0px 0px;
}


#bdCntntBAInrId{
    border-radius: 7px 7px 7px 7px;
}

#bdCntntBAId{
    border-radius: 7px 7px 7px 7px;
}


#bdCntntABAAInrId{
	border-radius: 0px 0px 7px 7px;
}

#bdCntntABAAId{
	border-radius: 0px 0px 7px 7px;
}

#body3THeaderABAAId{
	border-radius: 7px 7px 0px 0px;
}

#body3THeaderABAAInrId{
	border-radius: 7px 7px 0px 0px;
}


#bdCntntABABInrId{
	border-radius: 0px 0px 7px 7px;
}

#bdCntntABABId{
	border-radius: 0px 0px 7px 7px;
}

#body3THeaderABABId{
	border-radius: 7px 7px 0px 0px;
}

#body3THeaderABABInrId{
	border-radius: 7px 7px 0px 0px;
}


#bdCntntABACId{
    border-radius: 7px 7px 7px 7px;
}

#bdCntntABACInrId{
    border-radius: 7px 7px 7px 7px;
}

.loginBtnCntnr{
    border-radius: 3px 3px 3px 3px;
}

.loginBtnCntnrInr{
    border-radius: 3px 3px 3px 3px;
}

.changePasswordBtnCntnr{
    border-radius: 3px 3px 3px 3px;
}

.changePasswordBtnCntnrInr{
    border-radius: 3px 3px 3px 3px;
}

.lndnpgTabWrpr{
	border-radius: 7px 7px 0px 0px;
}

.lndnpgTab{
	border-radius: 7px 7px 0px 0px;
}

.lndnpgCntntWrpr{
    border-radius: 7px 7px 7px 7px;
}

.lndnpgContent{
    border-radius: 7px 7px 7px 7px;
}

.inrPageLeftMenu{
    border-radius: 7px 7px 7px 7px;
}

.inrPageLeftMenuInr{
    border-radius: 7px 7px 7px 7px;
}

.inrPgBd{
    border-radius: 7px 7px 7px 7px;
}

.inrPgBdInr{
    border-radius: 7px 7px 7px 7px;
}

.pageContentButtonWrpr{
	border-radius: 5px 5px 5px 5px;
}

.pageContentButton{
	border-radius: 5px 5px 5px 5px;
}

.pageContentFloatingButton{
	border-radius: 5px 5px 5px 5px;
}